@import "../../../index.scss";

.combatLayout {
	header {
		display: flex;
		gap: var(--padding-standard);
		justify-content: center;

		button.minimalMode,
		button.quirksMode {
			color: #fff;
			background-color: rgb(var(--colour-bronze));
		}
	}

	em {
		display: block;
		text-align: center;
		font-style: italic;
		margin-top: 5px;
	}

	.quirks {
		display: none;
		gap: var(--padding-standard);
		justify-content: center;
		margin-top: var(--padding-standard);

		&.open {
			display: flex;
		}

		.block {
			text-align: left;
		}
	}

	.monsters {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: calc(0.5 * var(--padding-standard));
		margin-top: var(--padding-standard);

		@media (max-width: 1023px) {
			grid-template-columns: 1fr;
		}
	}
}