.container {
	--size: 16px;

	display: inline-block;
	position: relative;
	width: var(--size);
	height: var(--size);
	text-align: center;
	line-height: calc(var(--size) - 3px);
	font-size: calc(var(--size) - 3px);

	&:before {
		box-sizing: border-box;
	}
}

.true:before {
	content: "S";
	display: inline-block;
	width: var(--size);
	height: var(--size);
	padding: 2px;
	color: #fff;
	background-color: #222;
	border-radius: 50%;
}