.spells {
  display: flex;
  gap: calc(var(--standard-padding) / 2);
  margin-top: var(--standard-padding);

  .spell {
    display: flex;
    flex-direction: column;
    gap: calc(var(--standard-padding) / 2);
    width: 250px;
    padding: calc(var(--standard-padding) * 0.75);
    border-radius: 5px;
    background-color: #efe7d5;
    box-shadow: 2px 2px 6px var(--standard-black-transparent-background);

    .title {
      display: flex;
      flex-wrap: wrap;
      line-height: 30px;
      justify-content: space-between;

      .name {
        font-family: "trattatello";
        font-size: 1.5rem;
      }

      .cost {
        font-size: 1.25rem;
      }

      .school {
        flex-basis: 100%;
      }
    }

    .effects {
      --height: 22px;

      display: flex;
      flex-direction: column;
      padding-left: 0;
      margin: 0;

      .effect {
        position: relative;
        list-style: none;
        padding-left: calc(var(--height) * 1.4);
        margin-bottom: calc(var(--standard-padding) / 2);

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          display: inline-block;
          width: var(--height);
          height: var(--height);
          margin-right: calc(var(--standard-padding) / 2);
          vertical-align: middle;
          background-position: 50%;
          background-repeat: no-repeat;
        }

        &.effect_cantrip {
          &:before {
            background-image: url("../../assets/images/icons/ico.medal.bronze.svg");
          }
        }

        &.effect_full {
          color: black;

          &:before {
            background-image: url("../../assets/images/icons/ico.medal.gold.svg");
          }
        }
      }
    }

    .mechanics {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;

      .challengeType,
      .range,
      .duration {
        display: flex;
        gap: 6px;
        align-items: center;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
