@import "../../index.scss";

// When the list item is in Spell Format
.spellLayout {
	--gap: calc(0.5 * var(--padding-standard));

	@extend .gridLayoutStandard;
	gap: var(--gap);

	.name,
	.cost {
		align-self: center;
	}

	.name {
		grid-column: 1 / 6;

		display: flex;
		justify-content: space-between;

		.spellLevel {
			width: 22px;
			height: 22px;
			text-align: center;

			font-weight: bold;
			justify-self: flex-end;
			border-radius: 100%;
			background-color: rgba(0, 0, 0, 0.1);;
		}
	}

	.easyName {
		grid-column: 1 / 6;
		grid-row: 2;
		margin-top: calc(var(--gap) * -1);
		font-style: italic;
	}

	.cost {
		grid-row: 1;
		grid-column: 5;
		font-size: 1.25rem;
		padding-left: 10px;
		justify-self: flex-end;
	}

	.effects,
	.mechanics {
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	.effects {
		display: flex;
		gap: calc(var(--padding-standard) / 2);
		grid-row: 4;
		grid-column: 1 / 6;
		flex-direction: column;
		padding-top: 10px;
		border-top: var(--standard-divider);

		.effect {
			display: grid;
			grid-template-columns: 20px auto;
			gap: calc(var(--padding-standard) / 2);
			position: relative;
			list-style: none;

			&:last-child {
				margin-bottom: 0;
			}

			div:first-child {
				width: 14px;
				min-width: 14px;
				height: 14px;
				min-height: 14px;
			}

			.desc .duration {
				display: inline;
				font-style: italic;
				font-size: 0.9em;
				opacity: 0.75;
				white-space: nowrap;

				&:before {
					content: url(../../assets/images/icons/ico.clock.svg);
					display: inline-block;
					width: 14px;
					height: 14px;
					margin-right: 5px;
					transform: translateY(2px);
				}
			}
		}
	}

	.mechanics {
		grid-row: 3;
		grid-column: 1 / 6;

		display: flex;
		gap: calc(var(--padding-standard) / 2);
		font-weight: 600;
		justify-content: space-between;

		.leftMechanics {
			display: flex;
			gap: calc(var(--padding-standard) / 2);
		}

		.challengeType,
		.range {
			display: flex;
			gap: 6px;
			align-items: center;

			img {
				width: 20px;
				height: 20px;
			}
		}

		.potable {
			width: 20px;
			opacity: 0.5;
		}
	}
}

@media print {
	.effects {
		border-top: none !important;
	}
}