:root {
	--border-dashed-standard: 1px dashed #ddd;
	--meta-background: var(--colour-cream);
	--control-bar-display: flex;
	--collapser-after-display: block;
	
	@media (max-width: 500px) {
		--padding-standard: 12px !important;
	}

	@media print {
		--control-bar-display: none;
		--collapser-after-display: none;
	}
}

.headingLarge,
.headingMedium,
.headingSmall {
	position: relative;
	font-family: 'trattatello';
	text-transform: uppercase;
	line-height: 100%;
	margin-right: 5px;
}

.headingLarge {
	display: flex;
	gap: calc(0.5 * var(--padding-standard));
	font-size: 28px;
	margin-bottom: var(--padding-standard);

	.titleIcon {
		height: 25px;
		margin-top: 2px;
	}
}

.headingMedium {
	font-size: 21px;
}

.headingSmall {
	font-size: 16px;
}

.rollPopup {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 500px;
	max-width: 100%;
	opacity: 0;
	pointer-events: none;
	transform: translateX(-50%);

	&.open {
		opacity: 1;
		pointer-events: all;

		.hider {
			display: block;
		}
	}

	.content {
		position: relative;
		z-index: 100;
		padding: calc(0.5 * var(--padding-standard));
		border-radius: 8px;
		background: var(--colour-cream);
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

		&.rollContent {
			display: grid;
			grid-template-columns: 1fr 1fr 20px 1fr;
			gap: calc(0.5 * var(--padding-standard));
			padding: var(--padding-standard);

			.headingMedium {
				grid-row: 1;
				grid-column: 1 / 4;
				margin: 0;
			}
		}

		.diceRollImage {
			width: 20px;
		}

		.result {
			display: block;
		}
	}

	.hider {
		position: fixed;
		z-index: 99;
		top: -5000px;
		left: -5000px;
		width: 10000px;
		height: 20000px;
		display: none;

		&.open {
			display: block;
		}
	}
}

.fonted {
	font-family: "trattatello";
	font-size: 18px;
	line-height: 100%;
	text-transform: uppercase;
}

.rollPopup {
	position: fixed;
	top: 50%;
	left: 50%;

	.closer {
		position: relative;
		z-index: 5001;		
	}
}

section {
	position: relative;
	z-index: 1;
	padding: calc(2 * var(--padding-standard)) 0 var(--padding-standard);
	margin-bottom: var(--padding-standard);

	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: calc(-1 * var(--padding-standard));
		display: block;
		background-image: url('/assets/images/gr.charactersheet.border.svg');
		width: 100%;
		height: 20px;
		opacity: 0.075;
	}

	.collapsable {
		height: 0px;
		padding: 0;
		overflow: hidden;
	}

	&.open {
		padding: calc(2 * var(--padding-standard)) 0;

		.collapsable {
			height: auto;
			overflow: visible;
			padding: calc(0.5 * var(--padding-standard));
			border: var(--border-dashed-standard);
			border-radius: 12px;
		}

		@media print {
			padding: 5px 0;
		}
	}

	.collapser {
		position: relative;
		cursor: pointer;

		&:after {
			display: var(--collapser-after-display);
			content: url('/assets/images/icons/ico.chevron.down.svg');
			position: absolute;
			right: 0;
			top: 0;
			width: 20px;
			height: 20px;
			transform: scaleY(-1);
		}
	}

	&.open .collapser:after {
		transform: scaleY(1);
	}

	.vitaeLayout {
		display: grid;
		grid-template-columns: minmax(auto, 268px) auto;
		gap: var(--padding-standard);
		width: 100%;

		@media (max-width: 767px) {
			grid-template-columns: auto;
			justify-items: center;

			.about {
				width: 100%;
			}
		}

		@media print {
			grid-template-columns: minmax(auto, 268px) auto;
		}

		.headingMedium {
			min-width: 80px;
		}
	
		.profileImage {
			width: 100%;
			max-width: 300px;
			border-radius: 14px;
		}
	
		.about {
			display: flex;
			flex-direction: column;
			gap: calc(0.5 * var(--padding-standard));

			.sessionPoints {
				min-width: 135px;
			}

			.racialBonuses {
				display: flex;
				flex-direction: column;
				gap: calc(0.5 * var(--padding-standard));
			}
		}
	}

	.abilitiesLayout {
		display: flex;
		gap: var(--padding-standard);

		@media (max-width: 767px) {
			flex-direction: column;
		}

		.stats,
		.buffs {
			display: grid;
			grid-template-rows: 30px auto;
			gap: 5px;
		}
	
		.stats {
			.standardFlex {
				box-sizing:border-box;
				align-items: center;
				gap: calc(0.5 * var(--padding-standard));

				.littleNote {
					margin-top: -2px;
				}
			}

			.stat {
				--name-maxwidth: none;

				@media (max-width: 375px) {
					--name-maxwidth: 110px;
				}

				display: flex;
				gap: calc(0.5 * var(--padding-standard));
				align-items: center;

				.fullName {
					max-width: var(--name-maxwidth);
					display: var(--short-name-display);
					flex-grow: 1;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
	
				img {
					height: 22px;
				}
	
				.statPurchases {
					display: flex;
				}
			}
		}

		.buffs {
			--grid-template-columns: 220px 100px;
			--width: 380px;

			@media (max-width: 500px) {
				grid-template-columns: auto auto;
				--width: 100%;
			}

			display: grid;
			grid-template-columns: var(--grid-template-columns);
			width: var(--width);
		}
	}

	.wellnessLayout {
		.sectionMeta {
			display: grid;
			grid-template-columns: auto 1fr;
			align-items: start;

			@media (max-width: 949px) {
				grid-template-columns: auto;
			}
		}

		.verve {
			display: grid;
			grid-template-columns: auto;
			gap: var(--padding-standard);
			width: 255px;
			min-width: 170px;

			@media (max-width: 950px) {
				grid-template-columns: 1fr 2fr;
				width: 100%;
			}

			@media (max-width: 665px) {
				grid-template-columns: auto;
				width: 100%;
			}

			.titleAndPoints,
			.totalAndCurrent {
				display: flex;
				flex-direction: column;
				gap: calc(0.5 * var(--padding-standard));

				.title {
					display: flex;
					gap: calc(0.5 * var(--padding-standard));
				}
		
				.healthPurchases {
					display: flex;
					flex-wrap: wrap;
					align-content: flex-start;
		
					.wrapper {
						flex-basis: 100%;
						height: 6px;
					}
				}
			}

			.titleAndPoints {
				min-width: 255px;
				margin-bottom: calc(0.5 * var(--padding-standard));
			}
		}
	
		.status {
			width: auto;
			min-width: 500px;
			align-self: flex-start;

			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: calc(0.5 * var(--padding-standard));

			@media (max-width: 999px) {
				grid-template-columns: 1fr 1fr 1fr;
				min-width: auto;
			}

			@media (max-width: 649px) {
				grid-template-columns: 1fr 1fr;

				.headingMedium {
					grid-column: 1/3;
				}
			}

			@media print {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}
		}
	}

	.defensesLayout {
		.sectionMeta {
			--armourclasstable-width: 375px;
			--resistancetable-width: 260px;

			@media (max-width: 700px) {
				--armourclasstable-width: 100%;
				--resistancetable-width: 100%;
			}

			.armourClassTable,
			.resistanceTable {
				display: grid;
				gap: calc(0.25 * var(--padding-standard));
				align-items: center;
				padding: var(--padding-standard);
				background-color: #FFFFFD;
				border-radius: 10px;

				.headLabel {
					justify-self: center;
				}
			}

			.armourClassTable {
				grid-template-columns: 20px 55px 55px 55px 135px;
				width: var(--armourclasstable-width);

				.headName {
					grid-row: 1;
					grid-column: 1 / 3;
				}
			}

			.resistanceTable {
				grid-template-columns: 145px 66px;
				width: var(--resistancetable-width);

				*:not(.headingSmall):not(.headingMedium) {
					justify-self: center;
				}
			}
		}
	}

	.combatLayout {
		.sectionMeta .weaponTable {
			grid-template-columns: 125px 75px 75px 75px;

			@media (max-width: 500px) {
				grid-template-columns: 135px 75px 75px 75px;
			}
		}
	}

	.movesLayout {}

	.magicLayout {
		.section1 {
			flex-direction: column;
		}

		.manaContainer {
			--grid-template-columns: 200px 1fr;
			--gap: calc(0.5 * var(--padding-standard));
			--points-row: 1 / 3;
			--points-column: 1;
			--total-row: 1;
			--total-column: 2;
			--current-row: 2;
			--current-column: 2;

			@media (max-width: 500px) {
				--grid-template-columns: 100%;
				--gap: var(--padding-standard);
				--points-row: 1;
				--points-column: 1;
				--total-row: 2;
				--total-column: 1;
				--current-row: 3;
				--current-column: 1;
			}

			display: grid;
			grid-template-columns: var(--grid-template-columns);
			gap: var(--gap);
			
			.manaPoints {
				grid-column: var(--points-column);
				grid-row: var(--points-row);
				
				.headingMedium {
					margin-bottom: calc(0.25 * var(--padding-standard));
				}
			}

			.manaTotal,
			.manaCurrent {
				display: flex;
				gap: calc(0.5 * var(--padding-standard));
				align-items: center;
			}

			.manaTotal {
				grid-column: var(--total-column);
				grid-row: var(--total-row);
			}

			.manaCurrent {
				grid-column: var(--current-column);
				grid-row: var(--current-row);
			}
		}

		.section2 {
			display: flex;
			flex-direction: column;
			gap: calc(0.5 * var(--padding-standard));
		}
	}

	.psionicsLayout {
		page-break-after: always;
	}

	.notesLayout {}

	.inventoryLayout {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 5px;
	}
}

.standardFlex {
	display: flex;
	gap: var(--padding-standard);
	align-items: center;
}

.narrowFlex {
	display: flex;
	gap: calc(0.25 * var(--padding-standard));
	align-items: center;
}

.littleNote {
	color: #aaa;
	font-style: italic;
}

.sectionMeta {
	display: flex;
	flex-direction: row;
	gap: calc(0.5 * var(--padding-standard));
	flex-wrap: wrap;
	width: 100%;
	padding: calc(0.5 * var(--padding-standard));
	background-color: var(--meta-background);
	box-sizing: border-box;
	border-radius: 10px;

	& + * {
		margin-top: var(--padding-standard);
	}

	> .headingMedium {
		flex-basis: 100%;
		margin: calc(0.5 * var(--padding-standard));
	}

	&.vertical {
		flex-direction: column;
	}

	.sectionMetaInner {
		--width: auto;

		@media (max-width: 600px) {
			--width: 100%;
		}

		display: grid;
		gap: calc(0.25 * var(--padding-standard));
		align-items: center;
		padding: var(--padding-standard);
		background-color: #FFFFFD;
		box-sizing: border-box;
		border-radius: 10px;
		width: var(--width);
	}

	.spellChoice {
		display: flex;
		gap: calc(0.5 * var(--padding-standard));
		align-items: center;
	}
}

.movesHeader {
	&:not(:first-child) {
		border-top: var(--border-dashed-standard);
		padding-top: var(--padding-standard);
	}

	margin-bottom: var(--padding-standard);
}

.spellListMeta {
	gap: calc(0.5 * var(--padding-standard));
}

.moveList {
	--column-gap: calc(2 * var(--padding-standard));

	@media (max-width: 999px) {
		column-count: 1;
	}

	width: calc(100% - var(--column-gap));

	column-count: 2;
	column-gap: var(--column-gap);
}

.controlBar {
	position: fixed;
	display: var(--control-bar-display);
	justify-content: center;
    align-items: center;
	gap: calc(0.5 * var(--padding-standard));
	bottom: 0;
	left: 5%;
	width: 90%;
	height: 40px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

	button {
		height: 30px;

		img {
			width: 20px;
			height: 20px;

			&.flipY {
				transform: scaleY(-1);
			}
		}
	}
}