hr {
	height: 30px;
	margin: var(--padding-standard) 0;
	opacity: 0.075;
	background-image: url('/assets/images/gr.charactersheet.border.svg');
	outline: none;
	border: none;
}

.standardFlex {
	display: flex;
	justify-content: space-between;
}

.characterListItem {
	margin-bottom: calc(0.75 * var(--padding-standard));
	
	a {
		font-family: 'trattatello';
		line-height: 100%;
		font-size: 24px;
		color: var(--colour-silver);
		text-decoration: none;

		&:hover {
			color: #000
		}
	}

	button {
		margin-left: calc(0.5 * var(--padding-standard));
	}

	&:before {
		content: "♦";
		margin-right: calc(0.5 * var(--padding-standard));
	}
}

.deleteButton {
	display: none;

	&.visible {
		display: inline-block;
	}
}

.newCharacterNameInput {
	height: 20px;
	margin-right: var(--padding-standard);
	padding: 5px;
	border: 2px solid #777;
	border-radius: var(--border-radius-standard);
	outline: none;
}