:root {
	--border-dashed-standard: 1px dashed #ddd;
	--meta-background: var(--colour-cream);
	--control-bar-display: flex;
	--collapser-after-display: block;
	
	@media (max-width: 500px) {
		--padding-standard: 12px !important;
	}

	@media print {
		--control-bar-display: none;
		--collapser-after-display: none;
	}
}

.headingLarge,
.headingMedium,
.headingSmall {
	position: relative;
	font-family: 'trattatello';
	text-transform: uppercase;
	line-height: 100%;
	margin-right: 5px;
}

.headingLarge {
	display: flex;
	gap: calc(0.5 * var(--padding-standard));
	font-size: 28px;
	margin-bottom: var(--padding-standard);

	.titleIcon {
		height: 25px;
		margin-top: 2px;
	}
}

.headingMedium {
	font-size: 21px;
}

.headingSmall {
	font-size: 16px;
}

.fonted {
	font-family: "trattatello";
	font-size: 18px;
	line-height: 100%;
	text-transform: uppercase;
}

section {
	position: relative;
	z-index: 1;
	padding: calc(2 * var(--padding-standard)) 0 var(--padding-standard);
	margin-bottom: var(--padding-standard);

	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: calc(-1 * var(--padding-standard));
		display: block;
		background-image: url('/assets/images/gr.charactersheet.border.svg');
		width: 100%;
		height: 20px;
		opacity: 0.075;
	}

	.collapsable {
		height: 0px;
		padding: 0;
		overflow: hidden;
	}

	&.open {
		padding: calc(2 * var(--padding-standard)) 0;

		.collapsable {
			height: auto;
			overflow: visible;
			padding: calc(0.5 * var(--padding-standard));
			border: var(--border-dashed-standard);
			border-radius: 12px;
		}

		@media print {
			padding: 5px 0;
		}
	}

	.collapser {
		position: relative;
		cursor: pointer;

		&:after {
			display: var(--collapser-after-display);
			content: url('/assets/images/icons/ico.chevron.down.svg');
			position: absolute;
			right: 0;
			top: 0;
			width: 20px;
			height: 20px;
			transform: scaleY(-1);
		}
	}

	&.open .collapser:after {
		transform: scaleY(1);
	}

	.vitaeLayout {
		display: grid;
		grid-template-columns: minmax(auto, 300px) auto;
		gap: var(--padding-standard);
		width: 100%;

		@media (max-width: 767px) {
			grid-template-columns: auto;
			justify-items: center;

			.about {
				width: 100%;
			}
		}

		@media print {
			grid-template-columns: minmax(auto, 235px) auto;
			gap: calc(2 * var(--padding-standard));
		}

		.headingMedium {
			min-width: 87px;
		}
	
		.profileImage {
			width: 100%;
			max-width: 325px;
			border-radius: 14px;
		}
	
		.about {
			display: flex;
			flex-direction: column;
			gap: calc(0.5 * var(--padding-standard));

			.sessionPoints {
				min-width: 135px;
			}

			.racialModifiers {
				display: flex;
				flex-direction: column;
				gap: calc(0.5 * var(--padding-standard));
				margin-top: calc(0.75 * var(--padding-standard));
			}
		}
	}

	.abilitiesLayout {
		--stats-flex-grow: 0;
		--section-meta-flex-direction: row;

		display: flex;
		gap: var(--padding-standard);

		@media (max-width: 767px) {
			--stats-flex-grow: 1;
			--section-meta-flex-direction: column;
		}

		.sectionMeta {
			flex-wrap: nowrap;
			flex-direction: var(--section-meta-flex-direction);
		}

		.statLabels {
			display: flex;
			justify-content: flex-end;
			gap: 8px;

			div {
				width: 9.5px;
				font-size: 10px;
				font-style: italic;
				color: #999;
			}
		}
	
		.stats {
			flex-grow: var(--stats-flex-grow);

			display: grid;
			grid-template-rows: 30px auto;
			gap: 5px;

			.standardFlex {
				box-sizing:border-box;
				align-items: center;
				gap: calc(0.5 * var(--padding-standard));

				.littleNote {
					margin-top: -2px;
				}
			}

			.stat {
				display: flex;
				gap: calc(0.5 * var(--padding-standard));
				align-items: center;

				.fullName {
					display: var(--short-name-display);
					flex-grow: 1;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
	
				img {
					height: 22px;
				}
	
				.statPurchases {
					display: flex;
				}
			}
		}

		.buffs {
			flex-grow: 1;

			.buffDetails {
				grid-column: 1/3;

				display: grid;
				grid-template-columns: var(--grid-template-columns);
				gap: calc(0.25 * var(--padding-standard));
			}
		}
	}

	.wellnessLayout {
		.sectionMeta {
			display: grid;
			grid-template-columns: auto 1fr;
			align-items: start;

			@media (max-width: 949px) {
				grid-template-columns: auto;
			}
		}

		.verve {
			display: grid;
			grid-template-columns: auto;
			gap: 0;
			width: 255px;
			min-width: 170px;

			@media (max-width: 950px) {
				grid-template-columns: 1fr 2fr;
				gap: var(--padding-standard);
				width: 100%;
			}

			@media (max-width: 665px) {
				grid-template-columns: auto;
				gap: calc(0.5 * var(--padding-standard));
				width: 100%;
			}

			.titleAndPoints,
			.totalAndCurrent {
				display: flex;
				flex-direction: column;
				gap: calc(0.5 * var(--padding-standard));

				.title {
					display: flex;
					gap: calc(0.5 * var(--padding-standard));
				}
		
				.healthPurchases {
					display: flex;
					flex-wrap: wrap;
					align-content: flex-start;
		
					.wrapper {
						flex-basis: 100%;
						height: 6px;
					}
				}
			}

			.titleAndPoints {
				min-width: 255px;
				margin-bottom: calc(0.5 * var(--padding-standard));
			}
		}

		.stamina {
			display: flex;
			align-items: center;
			gap: calc(0.5 * var(--padding-standard));
			margin-top: var(--padding-standard);

			.staminaPurchases {
				.staminaPointGroup {
					margin-left: 2px;
					margin-top: 3px;
				}
			}
		}
	
		.status {
			width: auto;
			min-width: 500px;
			align-self: flex-start;

			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: calc(0.5 * var(--padding-standard));

			@media (max-width: 999px) {
				grid-template-columns: 1fr 1fr 1fr;
				min-width: auto;
			}

			@media (max-width: 649px) {
				grid-template-columns: 1fr 1fr;

				.headingMedium {
					grid-column: 1/3;
				}
			}

			@media print {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}
		}
	}

	.defencesLayout {
		.sectionMeta {
			--armourclasstable-width: 375px;
			--resistancetable-width: 260px;

			@media (max-width: 960px) {
				--armourclasstable-width: 100%;
				--resistancetable-width: 100%;
			}

			.armourHeader,
			.armourItem {
				display: grid;
				gap: calc(0.25 * var(--padding-standard));
				grid-template-columns: 90px 60px 60px 145px;
				grid-template-columns: 2fr 1fr 1fr 3fr;
				align-items: center;
				width: var(--armourclasstable-width);
				background-color: #FFFFFD;
				border-radius: 10px;
			}

			.resistanceTable {
				--display: grid;

				@media (max-width: 600px) {
					--display: flex;
				}

				display: var(--display);
				grid-template-columns: auto 1fr;
				flex-direction: column;
				gap: calc(1.25 * var(--padding-standard));
				flex-grow: 1;
				width: var(--resistancetable-width);
				align-items: start;
				justify-items: start;

				.headName {
					grid-row: 1;
					grid-column: 1 / 3;
				}

				.values {
					gap: 5px;
				}

				.table1,
				.table2 {
					--column1-width: 130px;

					display: grid;
					grid-template-columns: var(--column1-width) auto;
					gap: calc(0.5 * var(--padding-standard));
					justify-content: space-between;
					min-width: 200px;
					max-width: 215px;

					.tableHeader {
						grid-row: 1;
						grid-column: 1 / 3;

						display: flex;
						justify-content: space-between;

						.values {
							display: flex;
						}
					}

					.label {
						width: var(--column1-width);
					}

					.standardFlex {
						justify-self: end;
					}
				}
			}
		}
	}

	.combatLayout {
		.sectionMeta .weaponTable .weaponsHeader,
		.sectionMeta .weaponTable .weaponFields {
			display: grid;
			grid-template-columns: 165px 60px 270px;
			gap: calc(0.25 * var(--padding-standard));

			@media (max-width: 500px) {
				grid-template-columns: 135px 75px 75px;
			}
		}

		.bonusDamageTable .headingSmall {
			width: 110px;
		}
	}

	.movesLayout {}

	.magicLayout {
		--standard-flex-direction: row;
		--section-1-gap: calc(0.25 * var(--padding-standard));
		--magic-flex-gap: var(--padding-standard);

		@media (max-width: 500px) {
			--standard-flex-direction: column;
			--section-1-gap: var(--padding-standard);
			--magic-flex-gap: calc(0.25 * var(--padding-standard));
		}

		.section1 {
			flex-direction: column;

			.magicFlex {
				align-items: start;
				flex-direction: var(--standard-flex-direction);
				gap: var(--magic-flex-gap);

				.headingMedium {
					min-width: 135px;
				}
			}

			.sectionMetaInner {
				gap: var(--section-1-gap);
			}
		}

		.manaContainer {
			--grid-template-columns: 200px 1fr;
			--gap: calc(0.5 * var(--padding-standard));
			--points-row: 1 / 3;
			--points-column: 1;
			--total-row: 1;
			--total-column: 2;
			--current-row: 2;
			--current-column: 2;

			@media (max-width: 500px) {
				--grid-template-columns: 100%;
				--gap: var(--padding-standard);
				--points-row: 1;
				--points-column: 1;
				--total-row: 2;
				--total-column: 1;
				--current-row: 3;
				--current-column: 1;
			}

			display: grid;
			grid-template-columns: var(--grid-template-columns);
			gap: var(--gap);
			
			.manaPoints {
				grid-column: var(--points-column);
				grid-row: var(--points-row);
				min-width: 135px;

				.standardFlex {
					align-items: self-start;
				}
				
				.headingMedium {
					margin-bottom: calc(0.25 * var(--padding-standard));
				}
			}

			.manaTotal,
			.manaCurrent {
				display: flex;
				gap: calc(0.5 * var(--padding-standard));
				align-items: center;
			}

			.manaTotal {
				grid-column: var(--total-column);
				grid-row: var(--total-row);
			}

			.manaCurrent {
				grid-column: var(--current-column);
				grid-row: var(--current-row);
			}
		}

		.section2 {
			display: flex;
			flex-direction: column;
			gap: calc(0.5 * var(--padding-standard));
		}
	}

	.psionicsLayout {
		page-break-after: always;
	}

	.notesLayout {}

	.inventoryLayout {
		--grid-template-columns: 1fr 1fr;

		@media (max-width: 767px) {
			--grid-template-columns: 1fr;
		}

		display: grid;
		grid-template-columns: var(--grid-template-columns);
		gap: 5px;
	}
}

.standardFlex {
	display: flex;
	gap: var(--padding-standard);
	align-items: center;
}

.narrowFlex {
	display: flex;
	gap: calc(0.25 * var(--padding-standard));
	align-items: center;
}

.littleNote {
	color: #aaa;
	font-style: italic;
}

.sectionMeta {
	display: flex;
	flex-direction: row;
	gap: calc(0.5 * var(--padding-standard));
	flex-wrap: wrap;
	width: 100%;
	padding: calc(0.5 * var(--padding-standard));
	background-color: var(--meta-background);
	box-sizing: border-box;
	border-radius: 10px;

	& + * {
		margin-top: var(--padding-standard);
	}

	> .headingMedium {
		flex-basis: 100%;
		margin: calc(0.5 * var(--padding-standard));
	}

	&.vertical {
		flex-direction: column;
	}

	.sectionMetaInner {
		--width: auto;

		@media (max-width: 767px) {
			--width: 100%;
		}

		display: grid;
		gap: calc(0.25 * var(--padding-standard));
		align-items: center;
		padding: var(--padding-standard);
		background-color: #FFFFFD;
		box-sizing: border-box;
		border-radius: 10px;
		width: var(--width);
	}

	.spellChoice {
		display: flex;
		gap: calc(0.5 * var(--padding-standard));
		align-items: center;
	}
}

.movesHeader {
	&:not(:first-child) {
		border-top: var(--border-dashed-standard);
		padding-top: var(--padding-standard);
	}

	margin-bottom: var(--padding-standard);
}

.spellListMeta {
	gap: calc(0.5 * var(--padding-standard));
}

.moveList {
	--column-gap: calc(2 * var(--padding-standard));

	@media (max-width: 999px) {
		column-count: 1;
	}

	width: calc(100% - var(--column-gap));

	column-count: 2;
	column-gap: var(--column-gap);
}

.controlBar {
	position: fixed;
	display: var(--control-bar-display);
	justify-content: center;
    align-items: center;
	gap: calc(0.5 * var(--padding-standard));
	bottom: 0;
	left: 3%;
	width: 94%;
	height: 40px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

	button {
		height: 30px;

		&.active {
			color: #fff;
			background-color: var(--colour-silver);
		}

		img {
			width: 20px;
			height: 20px;

			&.flipY {
				transform: scaleY(-1);
			}
		}
	}
}