.rollPopup {
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 50%;
	width: 500px;
	max-width: 96%;
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);

	&.open {
		opacity: 1;
		pointer-events: all;

		.hider {
			display: block;
		}
	}

	.content {
		position: relative;
		z-index: 100;
		padding: calc(0.5 * var(--padding-standard));
		border-radius: 8px;
		background: rgba(var(--colour-cream));
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

		&.rollContent {
			display: grid;
			grid-template-columns: 75px 75px 25px 1fr;
			gap: calc(0.25 * var(--padding-standard));
			padding: var(--padding-standard);

			.rollButton {
				width: 50px;
				justify-self: end;
				background-color: #fff;
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
			}

			.headingMedium {
				grid-row: 1;
				grid-column: 1 / 4;
				margin: 0;

				font-family: "trattatello";
				font-size: 20px;
			}

			.moveNotes {
				grid-row: 4;
				grid-column: 1 / 5;

				margin-top: calc(0.5 * var(--padding-standard));
				font-style: italic;
				color: #aa4444;
			}

			.notes {
				grid-row: 5;
				grid-column: 1 / 5;

				margin-top: calc(0.5 * var(--padding-standard));
				font-style: italic;
				color: #666;
			}
		}

		.diceRollImage {
			width: 20px;
		}

		.result,
		.rawRoll {
			display: block;
		}
	}

	.hider {
		position: fixed;
		z-index: 99;
		top: -5000px;
		left: -5000px;
		width: 10000px;
		height: 20000px;
		display: none;
		background-color: rgba(0, 0, 0, 0.5);

		&.open {
			display: block;
		}
	}

	.closer {
		position: absolute;
		z-index: 5001;
		bottom: calc(100% + 5px);

		img {
			width: 20px;
		}
	}
}