@import "../../../AppSassVars.scss";

.statusBar {
	--border: 1px solid #666;
	--control-height: 30px;

	position: relative;
	height: auto;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0px;
		top: 1px;
		width: calc(100%);
		height: calc(100% + 2px);
		opacity: 0.1;
		background-color: black;
		clip-path: var(--shape-bevelled);
	}

	h3 {
		margin-top: 0;
	}
}

.statusBarContainer {
	display: flex;
	flex-wrap: wrap;
	gap: var(--padding-standard);
	align-items: center;
	height: 100%;
	padding: var(--padding-standard);
	box-sizing: border-box;

	background-image: url(../../../assets/images/bg.paper.jpg);
	clip-path: var(--shape-bevelled);
}

.btClear {
	display: block;
	height: 45px;
	background: none;
	outline: none;
	border: none;
	transform: translateY(8px);

	&:active {
		transform: scale(0.9);
	}

	img {
		height: 100%;
	}
}

.filterContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;

	h3 {
		min-height: 25px;
		max-height: 25px;
		margin-bottom: 10px;
	}
}

.view {
	display: flex;
    flex-direction: row;
    align-items: center;

	@media (max-width: $tabletBreakpoint) {
		display: none;
	}

	.viewButton {
		height: var(--control-height);
		text-transform: uppercase;
		border: var(--border);
	}
}

.filterDropdowns {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
}

.dropdownGroup {
	display: flex;
	flex-direction: column;
	text-transform: capitalize;

	select {
		height: var(--control-height);
		border: var(--border);
	}
}

.divider {
	height: 60px;
	border-right: 1px solid #261b0d;
	opacity: 0.15;

	@media (max-width: $tabletBreakpoint) {
		display: none;
	}
}

@media print {
	.statusBar {
		display: none;
	}
}