.columns {
  display: flex;
  gap: var(--padding-standard);

  .column {
    display: inline-block;
    width: 45%;
  }
}

.category {
  padding: calc(var(--padding-standard) / 2) var(--padding-standard);
  margin-bottom: calc(var(--padding-standard) / 2);
  background-color: var(--standard-black-transparent-background);

  .costList {
    padding-left: 0;

    li {
      display: flex;
      gap: var(--padding-standard);
      justify-content: space-between;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
      padding-bottom: 4px;
      margin-bottom: calc(var(--padding-standard) / 2);

      span {
      }
    }
  }
}
