.container {
	grid-row: 4;
	grid-column: 1/4;

	display: flex;
	justify-content: center;
	margin-top: calc(3 * var(--padding-standard));
	padding: calc(3 * var(--padding-standard)) var(--padding-standard);
	border-top: 1px solid black;

	.logo {
		width: 50px;
	}
}

@media print {
	.container {
		display: none;
	}
}