.title {
	color: #fff;
	text-align: center;
	padding: var(--padding-standard);
	box-shadow: inset var(--box-shadow-divider-standard), var(--box-shadow-divider-standard);

	&.black {
		background-color: black;
	}

	&.orange {
		background-color: rgba(var(--colour-orange));
	}

	&.purple {
		background-color: rgba(var(--colour-purple));
	}

	&.cyan {
		background-color: rgba(var(--colour-cyan));
	}

	&.cobalt {
		background-color: rgba(var(--colour-cobalt));
	}

	&.scarlet {
		background-color: rgba(var(--colour-scarlet));
	}

	&.mustard {
		background-color: rgba(var(--colour-mustard));
	}

	&.silver {
		color: #111;
		background-image: var(--colour-silver-gradient);
	}
}