.title {
	text-align: center;
	padding: var(--padding-standard);
	box-shadow: inset var(--box-shadow-divider-standard), var(--box-shadow-divider-standard);

	&.black {
		background-color: black;
	}

	&.orange {
		background-color: var(--colour-orange);
	}

	&.purple {
		background-color: var(--colour-purple);
	}

	&.cyan {
		background-color: var(--colour-cyan);
	}

	&.cobalt {
		background-color: var(--colour-cobalt);
	}

	&.scarlet {
		background-color: var(--colour-scarlet);
	}

	&.mustard {
		background-color: var(--colour-mustard);
	}

	&.silver {
		color: #111;
		background-image: var(--colour-silver-gradient);
	}
}