.el {
	--padding: 4px 4px 4px 12px;
	--border: none;

	@media print {
		--padding: 0 4px;
		--border: 1px solid #ccc;
	}

	position: relative;
	width: 100%;
	min-width: 40px;
	height: 32px;
	text-align: left;
	padding: var(--padding);
	box-sizing: border-box;
	border-radius: 6px;
	background-color: var(--colour-cream);
	outline: none;
	border: var(--border);

	&.inline {
		width: auto;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: calc(1.25 * var(--padding));
		left: calc(2 * var(--padding));
		width: calc(100% - 4 * var(--padding));
		border-bottom: 1px dashed #d2d2d2;
	}

	&::placeholder {
		font-style: italic;
		color: #bbb;
	}
}