.el {
	--description-display: none;
	--color-reduced: #555;
	--padding: calc(0.5 * var(--padding-standard));
	--border: var(--border-dashed-standard);

	--grid-template-columns: auto;
	--mainblock-grid-row: 1;
	--mainblocks-grid-column: 1;
	--mainblock-margin-bottom: calc(0.5 * var(--padding-standard));
	--submoves-grid-row: 2;
	--submoves-grid-column: 1;
	--mods-display: block;
	--mods-grid-row: 3;
	--mods-grid-column: 1;
	--headingmedium-margin: 0px 0 0px 0;
	--headingmedium-padding: 20px 0 0;
	--headingmedium-border: var(--border-dashed-standard);
	--unpurchasedheading-display: block;

	&.descriptionVisible {
		--description-display: block;
	}

	@media print {
		--padding: 0;
		--border: none;

		--grid-template-columns: auto;
		--mainblock-grid-row: 1;
		--mainblocks-grid-column: 1;
		--mainblock-margin-bottom: 0;
		--submoves-grid-row: 2;
		--submoves-grid-column: 1;
		--mods-grid-row: 3;
		--mods-grid-column: 1;
		--headingmedium-margin: 0;
		--headingmedium-padding: 0;
		--headingmedium-border: none;
		--unpurchasedheading-display: none;
		--description-display: none;

		&.descriptionVisible {
			--description-display: none;
		}
	}

	display: grid;
	grid-template-columns: var(--grid-template-columns);
	align-items: flex-start;
	break-inside: avoid-column;
	margin-bottom: calc(0.25 * var(--padding-standard));
	padding: var(--padding);
	border-radius: 10px;
	border: var(--border);
	background-color: #fff;

	&.moveCategory {
		> .bonuses,
		> .buttons {
			display: none;
		}
	}

	.mainBlock {
		grid-row: var(--mainblock-grid-row);
		grid-column: var(--mainblock-grid-column);

		display: flex;
		gap: calc(0.25 * var(--padding-standard));
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
		margin-bottom: var(--mainblock-margin-bottom);

		.title {
			max-width: 45%;
			flex-grow: auto;
			line-height: 100%;
			font-family: "trattatello";
			text-transform: uppercase;
			font-size: 1.5em;
			letter-spacing: -1px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-right: 6px;
			cursor: pointer;

			@media (max-width: 550px) {
				max-width: 100%;
				flex-basis: 100%;
			}

			&.moveCategory {
				--color-reduced: #000;
			}

			&:hover {
				opacity: 0.65;
			}
		}

		.pointTrack {
			flex-grow: 5;
			width: 170px;
		}

		.bonuses {
			flex: 0;

			font-weight: bold;
		}

		.buttons {
			flex: 0;

			button {
				height: 32px;
			}

			.diceRoll {
				width: 38px;
				height: 32px;

				img {
					height: 17px;
				}
			}
		}

		.description {
			display: var(--description-display);
			flex-basis: 100%;

			.type {
				position: relative;
				bottom: 1px;
				font-family: 'trattatello';
				text-transform: uppercase;
				line-height: 100%;
				margin-right: 5px;
			}
		}
	}

	.subMoves {
		display: var(--description-display);

		margin: calc(0.25 * var(--padding-standard)) 0;
		grid-row: var(--submoves-grid-row);
		grid-column: var(--submoves-grid-column);
	}

	.headingMedium {
		position: relative;
		font-family: 'trattatello';
		text-transform: uppercase;
		font-size: 1.2em;
		line-height: 100%;
		color: var(--color-reduced);
		margin: var(--headingmedium-margin);
		padding: var(--headingmedium-padding);
		border-top: var(--headingmedium-border);
		cursor: pointer;

		&:hover {
			opacity: 0.65;
		}

		&.unpurchasedExpander {
			display: var(--unpurchasedheading-display);
			margin-top: calc(0.5 * var(--padding-standard));
		}
	}

	.modContainer {
		grid-row: var(--mods-grid-row);
		grid-column: var(--mods-grid-column);

		@media print {
			.printMods {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 5px;

				input {
					width: 100%;
				}
			}

			.headingMedium { display: none; }
		}

		.headingMedium {
			span {
				display: inline-block;
				position: relative;
				margin-left: calc(0.5 * var(--padding-standard));
				top: -1px;
				width: 0; 
				height: 0; 
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				
				border-bottom: 8px solid #bbb;
			}
			&.visible span {
				border-bottom: none;
				border-top: 8px solid black;
			}
		}

		.allMods {
			display: none;
			margin-top: calc(0.5 * var(--padding-standard));

			&.visible {
				display: var(--mods-display);
			}

			.unpurchasedMods {
				margin-top: calc(0.5 * var(--padding-standard));
			}
		}
	}
}

@media print {
	.description {
		grid-column: 2 / 3;
	}

	.buttons {
		display: none;
	}
}