.reagent {
  --text-width: 250px;
  --vitals-width: 110px;

  background-color: rgba(black, 0.1);
  border-radius: 15px;

  &.card-view {
    display: flex;
    justify-content: space-between;
    gap: var(--standard-padding);
    max-width: calc(var(--text-width) + var(--vitals-width));
    padding: var(--standard-padding);

    .text {
      flex: auto;
      max-width: 250px;

      .name {
      }

      .description {
        font-size: 0.9em;
        font-style: italic;
      }
    }

    .vitals {
      max-width: var(--vitals-width);

      .core {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: calc(var(--standard-padding) / 2);
        flex: auto;
        height: var(--title-height);
        line-height: var(--title-line-height);
        margin-top: -5px;
        margin-bottom: 5px;
      }
    }
  }

  &.list-view {
    display: flex;
    gap: var(--standard-padding);
    align-items: center;
    padding: calc(var(--standard-padding) / 2) var(--standard-padding);
    line-height: 15px;

    .text {
      display: flex;
      gap: var(--standard-padding);

      .name {
        flex: none;
        width: 200px;
        height: auto;
      }

      .description {
        display: none;
      }
    }

    .vitals {
      display: flex;
      gap: var(--standard-padding);
      flex-direction: row-reverse;
      justify-content: space-between;
      flex-grow: 1;

      .core {
        display: flex;
        align-items: center;
        gap: calc(var(--standard-padding) / 2);
      }
    }
  }
}

.name {
  font-family: "trattatello";
  font-size: 1.5rem;
}
