.recipe {
  position: relative;
  min-width: 750px;
  max-width: 750px;
  padding: calc(var(--standard-padding) * 3 / 4);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);

  // LIST VIEW
  &.list-view {
    display: flex;
    gap: var(--standard-padding);
    justify-content: space-between;
    align-items: center;

    .name,
    .type,
    .effects,
    .creation {
      flex: auto;
    }

    .type {
      max-width: 25px;
      min-width: 25px;
    }

    .name {
      max-width: 125px;
      min-width: 125px;
    }

    .description {
      display: none;
    }

    .creation {
      justify-content: flex-end;

      div {
        gap: 5px;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  // CARD VIEW
  &.card-view {
    .effects {
      margin-top: calc(var(--standard-padding) / 2);
    }

    .type {
      float: left;
      margin-top: -4px;
      margin-right: 12px;
    }

    .name {
      margin-bottom: 6px;
    }

    .creation {
      line-height: 30px;
      margin-top: calc(var(--standard-padding) / 2);
    }
  }

  // GENERIC
  .name {
    font-family: "trattatello";
    font-size: 1.5rem;
  }

  .description {
    font-style: italic;
  }

  .type {
    &:after {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background-size: contain;
    }

    &[data-type="Potion"]:after {
      background-image: url("/assets/images/icons/ico.potion.svg");
    }

    &[data-type="Bomb"]:after {
      background-image: url("/assets/images/icons/ico.bomb.svg");
    }

    &[data-type="Poison"]:after {
      background-image: url("/assets/images/icons/ico.poison.svg");
    }

    &[data-type="Salve"]:after {
      background-image: url("/assets/images/icons/ico.salve.svg");
    }

    &[data-type="Misc"]:after {
      background-image: url("/assets/images/icons/ico.misc.svg");
    }
  }

  .creation {
    display: flex;
    gap: var(--standard-padding);

    div {
      display: flex;
      flex-direction: row;
    }

    img {
      vertical-align: middle;
      line-height: 30px;
      margin-right: calc(var(--standard-padding) / 2);
      margin-top: -3px;
    }
  }

  .requirements {
    gap: 6px;
    .reagent {
      padding: 3px;
      border-radius: 3px;
      color: #fff;
      font-size: 0.8rem;
      text-transform: uppercase;
      -webkit-user-select: none;
      user-select: none;
      text-align: center;
    }
  }
}
