.filterOptions {
  display: flex;
  gap: var(--standard-padding);
  align-items: flex-end;
  padding: 20px;

  background-image: url(/assets/images/bg.banner.svg);
  background-size: auto 100%;
  background-repeat: no-repeat;

  h3 {
    margin-top: 0;
  }
}

.btClear {
  display: block;
  height: 30px;
}

.contains {
}
