.properties {
  display: flex;
  gap: 5px;
}

.property {
  padding: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  user-select: none;
}

.hyd {
  background-color: #3c78d8;
}

.for {
  background-color: #888;
}

.the {
  background-color: #e69138;
}

.vig {
  background-color: #6aa84f;
}

.soo {
  background-color: #a64d79;
}

.exc {
  background-color: #f1c232;
}

.con {
  background-color: #674ea7;
}

.cor {
  background-color: #b6d7a8;
}

.poi {
  background-color: #cc0000;
}

.oil {
  background-color: #111;
}

.sce {
  background-color: #e2a2de;
}
