.properties {
  display: flex;
  gap: 5px;

  &.card-view {
    flex-direction: column;
  }
}

.property {
  padding: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  user-select: none;
  text-align: center;
}
