.recipe {
  position: relative;
  min-width: 750px;
  max-width: 750px;
  padding: var(--standard-padding);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);

  // to fix
  &.list-view {
    color: red;
  }

  // to fix
  &.card-view {
    color: green;
  }

  .name {
    font-family: "trattatello";
    font-size: 1.5rem;
  }

  .description {
    font-style: italic;
  }

  .effects {
    margin-top: calc(var(--standard-padding) / 2);
  }

  .type {
    position: absolute;
    top: var(--standard-padding);
    right: var(--standard-padding);

    &:after {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background-size: contain;
    }

    &[data-type="Potion"]:after {
      background-image: url("/assets/images/icons/ico.potion.svg");
    }

    &[data-type="Bomb"]:after {
      background-image: url("/assets/images/icons/ico.bomb.svg");
    }

    &[data-type="Poison"]:after {
      background-image: url("/assets/images/icons/ico.poison.svg");
    }

    &[data-type="Salve"]:after {
      background-image: url("/assets/images/icons/ico.salve.svg");
    }

    &[data-type="Misc"]:after {
      background-image: url("/assets/images/icons/ico.misc.svg");
    }
  }

  .creation {
    display: flex;
    gap: var(--standard-padding);
    line-height: 30px;
    margin-top: calc(var(--standard-padding) / 2);

    img {
      vertical-align: middle;
      line-height: 30px;
      margin-right: calc(var(--standard-padding) / 2);
    }
  }
}
