.container {
	grid-row: 1;
	grid-column: 1/4;

	position: relative;
	z-index: 100;
	width: 100%;

	.header {
		padding: calc(var(--padding-standard) * 2) var(--padding-standard);
		background-image: url(../../../assets/images/bg.nav.webp);
		background-position: 100% 15%;
		background-size: cover;

		.navContainer {
			display: flex;
			align-items: center;
			justify-content: center;

			position: relative;
			left: 50%;
			transform: translateX(-50%);
			max-width: var(--max-width);
		}
	}
}