.categoryContainer {
  display: flex;
  flex-direction: column;
  gap: calc(var(--standard-padding) / 2);
  max-width: 1024px;
}

.categoryTitle {
  grid-row: 1;
  grid-column: 1 / 5;
  margin: 0;
}

.move {
  padding: calc(var(--standard-padding) / 2);
  border-radius: 8px;
  background-color: var(--colour-cream-light);
}

.moveDesc {
  padding-top: calc(var(--standard-padding) / 2);
}

.modsList {
  display: flex;
  flex-direction: column;
  gap: calc(var(--standard-padding) / 3);
  list-style-type: none;
  padding: var(--standard-padding) 0 0 0;
  border-top: 1px solid black;

  .moveMod {
    --padding: 3px;

    position: relative;
    display: flex;
    gap: 10px;
    padding: var(--padding);
    padding-left: 35px;
    border-radius: 8px;

    &.rank1 {
      background-color: rgba(#a97142, 0.2);
    }

    &.rank2 {
      background-color: rgba(#bcc6cc, 0.2);
    }

    &.rank3 {
      background-color: rgba(#d4af37, 0.2);
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: calc(var(--padding) * 2);
      top: 50%;
      width: 9px;
      height: 9px;
      border: 2px solid black;
      background: white;

      transform: translateY(-50%);
    }
  }
}
