.categoryContainer {
	display: flex;
	flex-direction: column;
	gap: calc(var(--padding-standard) / 2);
	margin-top: var(--padding-standard);
}

.categoryTitle {
	grid-row: 1;
	grid-column: 1 / 5;
	margin: 0;
}

.move {
	padding: calc(var(--padding-standard) / 2);
	border-radius: 8px;
	background-color: rgba(var(--colour-cream-light));
}

.moveDesc {
	padding-top: calc(var(--padding-standard) / 2);
}

.modsList {
	display: flex;
	flex-direction: column;
	gap: calc(var(--padding-standard) / 20);
	list-style-type: none;
	padding: var(--padding-standard) 0 0 0;
	border-top: 1px solid black;

	.moveMod {
		--padding: 3px;

		position: relative;
		display: flex;
		gap: 10px;
		align-items: center;
		padding: var(--padding);
		border-radius: 8px;

		.rankDetails {
			display: flex;
			gap: 5px;
			align-items: center;
			min-width: 120px;
			font-weight: bold;
			padding: 4px 8px;
			border-radius: 6px;

			.modName {
				width: 175px;
			}
			
			.icon {
				width: 15px;
				height: 15px;
			}
		}
	}
}