.potion {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 5px;
}

.mechanics {
  grid-row: 1;
  grid-column: 2;

  .duration {
    display: flex;
    height: 30px;
  }
}

.cost {
  grid-row: 1;
  grid-column: 3;
}

.effects {
  grid-row: 2;
  grid-column: 1 / 4;
  margin: 0;
  padding: 8px 0 0 0;
  border-top: var(--standard-divider);

  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
