:root {
  --standard-padding: 20px;
  --standard-black-transparent-background: rgba(0, 0, 0, 0.1);
  --bevel-size: 7px;
  --font-large: 24px;
  --font-regular: 14px;
  --font-small: 10px;

  --standard-divider: 1px solid rgba(38, 27, 13, 0.2);

  /* prettier-ignore */
  --shape-bevelled: polygon(
	0 var(--bevel-size),
	calc(var(--bevel-size) / 2) var(--bevel-size),
	var(--bevel-size) calc(var(--bevel-size) / 2),
	var(--bevel-size) 0px,
	calc(100% - var(--bevel-size)) 0,
	calc(100% - var(--bevel-size)) calc(var(--bevel-size) / 2),
	calc(100% - var(--bevel-size) / 2) var(--bevel-size),
	100% var(--bevel-size),
	100% calc(100% - var(--bevel-size)),
	calc(100% - var(--bevel-size) / 2) calc(100% - var(--bevel-size)),
	calc(100% - var(--bevel-size)) calc(100% - var(--bevel-size) / 2),
	calc(100% - var(--bevel-size)) 100%,
	var(--bevel-size) 100%,
	var(--bevel-size) calc(100% - var(--bevel-size) / 2),
	calc(var(--bevel-size) / 2) calc(100% - var(--bevel-size)),
	0 calc(100% - var(--bevel-size)),
	0 100%
  );
}

@font-face {
  font-family: "trattatello";
  src: url("assets/fonts/trattatello/trattatello.woff2") format("woff2"), url("assets/fonts/trattatello/trattatello.woff") format("woff");
}

body {
  font-size: var(--font-regular);
  padding: var(--standard-padding);
  background-image: url(assets/images/bg.paper.jpg);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "trattatello";
  text-transform: uppercase;
}

select,
button {
  padding: 4px;
  border-radius: 4px;
  outline: none;
  background-color: #f0e9d9;
}

button {
  padding: 8px;
  border: none;
}

/* Alchemy Colours */
.hyd {
  background-color: #3c78d8;
}

.for {
  background-color: #888;
}

.the {
  background-color: #e69138;
}

.vig {
  background-color: #6aa84f;
}

.soo {
  background-color: #a64d79;
}

.exc {
  background-color: #f1c232;
}

.con {
  background-color: #674ea7;
}

.cor {
  background-color: #b6d7a8;
}

.poi {
  background-color: #cc0000;
}

.oil {
  background-color: #111;
}

.sce {
  background-color: #e2a2de;
}

@media print {
  :root {
    --font-large: 18px;
    --font-regular: 10px;
  }

  body {
    padding: 0;
    margin: 0;
    background: transparent;
  }

  h2 {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 100%;
  }
}
