:root {
  --standard-padding: 20px;
}

@font-face {
  font-family: "trattatello";
  src: url("assets/fonts/trattatello/trattatello.woff2") format("woff2"), url("assets/fonts/trattatello/trattatello.woff") format("woff");
}

body {
  padding: var(--standard-padding);
  background-image: url(assets/images/bg.paper.jpg);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "trattatello";
  text-transform: uppercase;
}

.card-title {
  height: 30px;
  line-height: 20px;
}
