:root {
	--padding-standard: 20px;
	--standard-black-transparent-background: rgba(0, 0, 0, 0.1);
	--bevel-size: 7px;
	--font-large: 24px;
	--font-regular: 14px;
	--font-small: 10px;

	--max-width: 1500px;
	--logo-width: 100px;

	--standard-divider: 1px solid rgba(38, 27, 13, 0.2);

	--colour-brown: #594726;
	//--colour-purple: rgba(91, 95, 151);
	--colour-purple: rgba(37, 63, 155);
	--colour-cream: #f0e9d9;
	--colour-cream-light: #f3f0ea;

	// Colour Palette
	--colour-orange: rgba(177, 110, 11);
	--colour-purple: rgba(71, 30, 185);
	--colour-purple-light: #9194b4;
	--colour-cobalt: rgb(0, 71, 171);
	--colour-cyan: rgba(11, 177, 140);
	--colour-scarlet: rgba(177, 11, 91);
	--colour-mustard: rgba(130, 177, 11);
	--colour-black: #000;
	--colour-silver: #666;
	--colour-bronze: #D29769;
	--colour-bronze-gradient: linear-gradient(142deg, rgba(241,200,169,1) 0%, rgba(212,154,109,1) 20%, rgba(210,151,105,1) 60%, rgba(240,213,192,1) 75%, rgba(210,151,105,1) 86%);
	--colour-silver-gradient: linear-gradient(-72deg,
			#dedede,
			#ffffff 16%,
			#dedede 21%,
			#ffffff 24%,
			#dedede 36%,
			#ffffff 45%,
			#ffffff 60%,
			#dedede 72%,
			#ffffff 80%,
			#dedede 84%,
			#cccccc);

	--box-shadow-divider-standard: 0px 3px 2px rgba(0, 0, 0, 0.1);

	/* prettier-ignore */
	--shape-bevelled: polygon(0 var(--bevel-size),
			calc(var(--bevel-size) / 2) var(--bevel-size),
			var(--bevel-size) calc(var(--bevel-size) / 2),
			var(--bevel-size) 0px,
			calc(100% - var(--bevel-size)) 0,
			calc(100% - var(--bevel-size)) calc(var(--bevel-size) / 2),
			calc(100% - var(--bevel-size) / 2) var(--bevel-size),
			100% var(--bevel-size),
			100% calc(100% - var(--bevel-size)),
			calc(100% - var(--bevel-size) / 2) calc(100% - var(--bevel-size)),
			calc(100% - var(--bevel-size)) calc(100% - var(--bevel-size) / 2),
			calc(100% - var(--bevel-size)) 100%,
			var(--bevel-size) 100%,
			var(--bevel-size) calc(100% - var(--bevel-size) / 2),
			calc(var(--bevel-size) / 2) calc(100% - var(--bevel-size)),
			0 calc(100% - var(--bevel-size)),
			0 100%);
}

@font-face {
	font-family: "trattatello";
	src: url("assets/fonts/trattatello/trattatello.woff2") format("woff2"), url("assets/fonts/trattatello/trattatello.woff") format("woff");
}

@font-face {
	font-family: "OpenSans";
	src: url("assets/fonts/opensans/OpenSans-VariableFont_wdth,wght.ttf");
}

body,
html {
	width: 100%;
	height: 100%;
	font-family: 'OpenSans';
}

body {
	font-size: var(--font-regular);
	padding: 0;
	margin: 0;
	background-image: url(assets/images/bg.paper.texture.webp);
	background-position: 100% 100%;
	background-repeat: repeat;
}

#root {
	display: grid;
	grid-template-columns: var(--padding-standard) auto var(--padding-standard);
}

h1 {
	font-size: 24px;
	grid-row: 2;
	grid-column: 1/4;
	margin-top: 0;
	background-color: var(--colour-magic-1);
}

.mainContent {
	grid-row: 3;
	grid-column: 2/3;

	position:relative;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: var(--max-width);
	margin-top: var(--padding-standard);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "trattatello";
	text-transform: uppercase;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

select,
button {
	padding: 4px;
	border-radius: 4px;
	outline: none;
	background-color: var(--colour-cream);
}

button {
	padding: 8px;
	border: none;
}

.gridLayoutStandard {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: minmax(30px, max-content) auto;
	gap: var(--padding-standard);
}

/* Alchemy Colours */
.hyd {
	background-color: #3c78d8;
}

.for {
	background-color: #888;
}

.the {
	background-color: #e69138;
}

.vig {
	background-color: #6aa84f;
}

.soo {
	background-color: #a64d79;
}

.exc {
	background-color: #f1c232;
}

.con {
	background-color: #674ea7;
}

.cor {
	background-color: #b6d7a8;
}

.poi {
	background-color: #cc0000;
}

.oil {
	background-color: #111;
}

.sce {
	background-color: #e2a2de;
}

@media print {
	:root {
		--font-large: 18px;
		--font-regular: 10px;
		--padding-standard: 10px;
	}

	body {
		padding: 0;
		margin: 0;
		background: transparent;
	}

	h2 {
		position: absolute;
		top: 0;
		right: 0;
		line-height: 100%;
	}
}