.nav {
	display: flex;
	flex-direction: column;
}

ol.navitem {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: trattatello;

	li {
		color: black;
		text-transform: uppercase;

		a {
			color: black;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	/* Colours */
	&.black li a.activeLink {
		color: var(--colour-black);
	}

	&.orange li a.activeLink {
		background: var(--colour-orange);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&.purple li a.activeLink {
		background: var(--colour-purple);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&.cyan li a.activeLink {
		background: var(--colour-cyan);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&.cobalt li a.activeLink {
		background: var(--colour-cobalt);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&.scarlet li a.activeLink {
		background: var(--colour-scarlet);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&.mustard li a.activeLink {
		background: var(--colour-mustard);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&.silver li a.activeLink {
		background: var(--colour-silver);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

}

ol.regular {
	display: flex;
	margin-left: 20px;
	gap: 20px;

	li {
		a {
			&.active {
				opacity: 0.5;
				color: var(--colour-brown);
			}
		}
	}
}

.routeLink {
	font-size: 1.5rem;
}

.subRouteLink {
	font-size: 1.1rem;
}

@media print {
	.nav {
		display: none;
	}
}