.container {
  display: block;
  min-width: 25px;
  min-height: 25px;
  padding: 4px;
  color: #fff;
  text-align: center;
  line-height: 25px;
  background-color: rgba(78, 32, 96, 0.75);
  border-radius: 50%;
}
