.container {
  display: block;
  min-width: 22px;
  min-height: 22px;
  padding: 4px;
  color: #fff;
  text-align: center;
  line-height: 22px;
  font-size: 15px;
  background-color: var(--colour-purple);
  border-radius: 50%;
}
