// Default styles
.listingsWrapper {
  display: flex;
  gap: calc(var(--standard-padding) / 2);
}

.listing {
  display: flex;
  flex-direction: column;
  gap: calc(var(--standard-padding) / 2);
  width: 250px;
  padding: calc(var(--standard-padding) * 0.75);
  border-radius: 5px;
  background-color: #efe7d5;
  box-shadow: 2px 2px 6px var(--standard-black-transparent-background);
}

.title {
  font-family: trattatello;
  font-size: 1.35rem;
}

// View Mode Styles
.view_ {
  &list {
    flex-direction: column;

    .listing {
      width: 100%;
    }
  }

  &card {
    flex-direction: row;

    .listing {
      width: 33%;
    }
  }
}
