@import '../../AppSassVars.scss';

.rulesLayout {
	display: flex;
	gap: calc(2 * var(--padding-standard));

	@media (max-width: $tabletBreakpoint) {
		flex-direction: column;
	}

	.column1 {
		display:flex;
		flex-direction: column;
		gap: 0;

		@media (max-width: $tabletBreakpoint) {
			padding: calc(0.5 * var(--padding-standard)) var(--padding-standard);
			background-color: rgba(0, 0, 0, 0.05);
			border-radius: 8px;
		}

		a {
			display: block;
			font-family: 'trattatello';
			font-size: 1.4rem;
			font-weight: bold;
			text-transform: uppercase;
			cursor: pointer;
		}
	}
}

.column {
	max-width: 1000px;
}