// When the list item is in Spell Format
.spellLayout {
	grid-template-columns: 2fr 1fr 1fr auto auto;

	// Update when in list view
	&.view- {
		&list {
			.effects {
			flex-direction: row;

			.effect {
				min-width: 40%;
			}
			}

			.mechanics {
			grid-row: 1;
			grid-column: 3;
			margin-top: 0;
			margin-right: var(--padding-standard);
			justify-content: flex-end;
			}
		}

		&card {
			.effects,
			.mechanics {
			padding: 8px 0;
			}
		}
	}

	.name,
	.cost,
	.school {
		display: flex;
		align-items: center;
		height: 100%;
		min-height: 40px;
	}

	.cost {
		grid-row: 1;
		grid-column: 5;
		font-size: 1.25rem;
		padding-left: 10px;
		justify-self: flex-end;
	}

	.school {
		width: 100%;
		grid-row: 1;
		grid-column: -3;
		justify-content: flex-end;
		font-style: italic;
	}

	.effects,
	.mechanics {
		padding: 8px 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	.effects {
		display: flex;
		gap: calc(var(--padding-standard) / 2);
		grid-row: 3;
		grid-column: 1 / 6;
		flex-direction: column;
		border-top: var(--standard-divider);

		.effect {
		display: flex;
		gap: calc(var(--padding-standard) / 2);
		position: relative;
		list-style: none;

		&:last-child {
			margin-bottom: 0;
		}
		}
	}

	.mechanics {
		display: flex;
		gap: calc(var(--padding-standard) / 2);
		grid-row: 2;
		grid-column: 1 / 6;

		.challengeType,
		.range,
		.duration {
		display: flex;
		gap: 6px;
		align-items: center;

		img {
			width: 20px;
			height: 20px;
		}
		}
	}
}

@media print {
	.effects {
		border-top: none !important;
	}
}